node_modules
.DS_Store
.env
.env.*
!.env.example
.turbo
AGENTS.md
CLAUDE.md
dist
out
coverage
.vite
.codex/*
.svelte-kit
**/.vercel
docs/*
packages/desktop/release
packages/server/prisma/dev.db
packages/server/prisma/dev.db-journal